aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
colorlog==6.7.0
docker==6.1.3
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
openai==0.27.8
packaging==23.1
pywin32==306
PyYAML==6.0
requests==2.31.0
sqlmap==1.7.6
tqdm==4.65.0
urllib3==2.0.3
websocket-client==1.6.1
yarl==1.9.2
